#menu {
  background-color: lightskyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  border-radius: 1em;
}
#menu-links {
  display: flex;
  align-items: center;
}
#menu-links a {
<<<<<<< HEAD
  background-color: lightskyblue;
=======
    background-color: lightskyblue;
>>>>>>> 802430140073d097aeab3e881e5e9cdfcc6f1903
  padding-right: 0.5em;
  color: darkblue;
  text-decoration: underline;
  align-items: center;
  text-align: center;
  cursor: pointer;
}